---
title: New Note
permalink: /admin/new/note/
---

<article class="about">
  <header class="page-intro">
    <h1 class="page-title">{{ title }}</h1>
  </header>
  <section class="flow">
    <div class="flow new-note-slug-wrap">
      <p class="new-note-slug"></p>
      <button class="copy-filename" onclick="copyFilename()">Copy Filename</button>
    </div>
    <hr>
    <div class="flow new-note-frontmatter-wrap">
      <code>
        <pre class="new-note-frontmatter language-markdown"></pre>
      </code>
      <button class="copy-frontmatter" onclick="copyFrontmater()">Copy Frontmatter</button>
    </div>
  </section>
</article>
<script>
  const now = new Date();
  const postDate = now.toISOString();
  const slugDay = postDate.split("T")[0];
  const slugTime = postDate.split("T")[1].slice(0, 8).replaceAll(":", "-");
  const slug = `${slugDay}-${slugTime}`.replaceAll("-", "");
  document.querySelector(".new-note-slug").textContent = `File name: ${slug}.md`;
  document.querySelector(".new-note-frontmatter").textContent = `---
date: ${postDate}
---
`;
function copyFilename() {
  const text = `${slug}.md`;

  navigator.clipboard.writeText(text);

  const wrapper = document.querySelector(".new-note-slug-wrap");
  const messageContent = `<span class="copied-message">Copied!</span>`;
  wrapper.insertAdjacentHTML("beforeend", messageContent);

  setTimeout(function() {
    const messageElement = document.querySelector(".copied-message");
    messageElement.remove();
  }, 5000);
}
function copyFrontmater() {
  const text = document.querySelector(".new-note-frontmatter").textContent;

  navigator.clipboard.writeText(text);
  
  const wrapper = document.querySelector(".new-note-frontmatter-wrap");
  const messageContent = `<span class="copied-message">Copied!</span>`;
  wrapper.insertAdjacentHTML("beforeend", messageContent);

  setTimeout(function() {
    const messageElement = document.querySelector(".copied-message");
    messageElement.remove();
  }, 5000);
}
</script>
