---
title: Crucial Jams
pagination:
  data: collections.crucialJams
  size: 10
  alias: jams
permalink: "/jams/crucial/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
---

<article class="jams-list">
  <header class="page-intro">
    <h1 class="page-title">{{ title }}</h1>
    <p class="page-subtitle">
      Play links from <a href="https://www.crucialtracks.org">Crucial Tracks</a>
      and <a href="https://odesli.co">Songlink</a>
    </p>
    <p class="page-subtitle">
      <a href="https://app.crucialtracks.org/profile/robble">Crucial?</a>
    </p>
  </header>
  <ul class="jams">
    {% for jam in jams %}
    <li>
      <div class="meta-box jam-list">
        {% include "single-jam", jam: jam.data, jamUrl: jam.url %}
      </div>
    </li>
    {% endfor %}
  </ul>
  <nav class="notes_pagination">
    <div>
      {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Older Jams</a>
      {% else %} {% endif %}
    </div>
    <div>
      {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">Newer Jams</a>
      {% else %} {% endif %}
    </div>
  </nav>
</article>
