---
title: Home
permalink: "/"
---

<section class="home">
	<header>
		<img
			src="/assets/images/global/banners/blue-ridge-mountains-1900.jpg"
			alt="Blue Ridge Mountains"
		/>
		<p>
			I'm a technologist, web developer, and web designer living in the western
			North Carolina mountains.
		</p>
	</header>
	<div class="home--grid">
		<ul>
			<li><a href="/posts">Posts</a></li>
			<li><a href="/notes">Notes</a></li>
			<li><a href="/now">Now</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</div>
</section>
