---
title: Notes
pagination:
  data: collections.notes
  size: 10
  alias: notes
permalink: "notes/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber | plus: 1 }}/{% endif
%}"
eleventyNavigation:
  key: /notes
  order: 2
---

<article class="notes_list">
  <header class="page-intro">
    <h1 class="page-title">{{ title }}</h1>
  </header>
  <ul class="notes">
    {% for note in notes %}
    <li>
      <div class="meta-box notes_list_meta">
        <article class="note_list__post">
          <div class="note_list__post__text flow">{{ note.content }}</div>
          <p class="note_list__post__date">
            <a href="{{note.url}}">{{ note.data.title }}</a>
          </p>
        </article>
      </div>
    </li>
    {% endfor -%}
  </ul>
  <nav class="notes_pagination">
    <div>
      {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Older Notes</a>
      {% else %} {% endif %}
    </div>
    <div>
      {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">Newer Notes</a>
      {% else %} {% endif %}
    </div>
  </nav>
</article>
