---
title: Now Playing
permalink: /now-playing/
---

<article class="now-playing">
  <header class="page-intro full-bleed">
    <h1 class="page-title">{{ title }}</h1>
  </header>
  <div class="now-playing__recently-played flow">
    <h3>Recently played from last.fm</h3>
    <ul class="flow">
      {% for track in lastfm.recentTracks %} {% if forloop.index < 6 %}
      <li>
        <a href="{{ track.url }}" target="_blank">
          {% if track.image[2]['#text'] %}
          <img
            src="{{ track.image[2]['#text'] }}"
            alt="{{ track.name }} - {{ track.artist['#text'] }}"
          />
          {% else %}
          <img
            src="/assets/images/icons/lastfm.svg"
            alt="{{ track.name }} - {{ track.artist['#text'] }}"
            style="filter: grayscale(90%)"
            eleventy:formats="svg"
          />
          {% endif %} {{ track.name }} - {{ track.artist['#text'] }}
        </a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </div>
  <hr />
  <div class="now-playing__spotify-favorites flow">
    <h3>Favorites from Apple Music</h3>
    <iframe
      allow="autoplay *; encrypted-media *;"
      frameborder="0"
      height="450"
      style="
        width: 100%;
        max-width: 660px;
        overflow: hidden;
        background: transparent;
      "
      sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
      src="https://embed.music.apple.com/us/playlist/awesome-songs/pl.u-Yp2qC53b2M"
    ></iframe>
  </div>
</article>
