.home--feed {
	list-style-type: none;
	max-width: 600px;
	margin: 0 auto;
	padding: 0;
	> li {
		margin-bottom: 3rem;
	}
	.meta-box {
		position: relative;
		margin-bottom: 0;
		padding-top: 2rem;
	}
	a {
		color: var(--lindsey-blue);
	}
	.feed-type-tag {
		margin: 0;
		top: 0.75rem;
		right: 0.75rem;
		a {
			color: currentColor;
		}
	}
	.posts-list__text-wrap:only-child {
		width: 100%;
	}
}
