.jam-streaming-list {
	list-style-type: none;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	li:first-child {
		padding-right: 0.5rem;
	}
	li {
		text-box-trim: trim-both;
	}
	a {
		display: block;
		margin-right: 0.5em;
	}
	img {
		max-width: 1.75rem;
	}
}
.jams {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.meta-box.jam-list {
	position: relative;
	margin-bottom: 3rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.jams-list__jam,
.a-jam,
.single-jam {
	picture img {
		width: 100%;
	}
	.timestamp {
		margin-top: 0;
		a {
			text-decoration: none;
		}
	}
	.jams_list__jam__title {
		margin-top: 0;
	}
}
.a-jam {
	h2 {
		margin-top: 0.25em;
	}
}
.single-jam {
	a {
		text-decoration: none;
	}
	h2 {
		margin-top: 0;
		margin-bottom: 1rem;
	}
}
.single-crucial-jam,
.crucial-jam {
	font-family: var(--font-family-heading);
	font-weight: 200;
	font-size: 0.65rem;
	letter-spacing: 0.1em;
	text-box-trim: trim-both;
	a {
		background-color: black;
		padding: 0.25em 0.5em;
		text-decoration: none;
	}
	margin-bottom: 1rem;
}
.crucial-jam {
	position: absolute;
	right: 1rem;
	top: 0.5rem;
}
.jam-commentary {
	margin-top: 3rem;
}
