.base--notes {
	ul.notes {
		list-style: none;
		padding: 0;
		margin: 0;
		a {
			color: var(--lindsey-blue);
		}
	}
}
.note_list__post__text {
	p:first-child {
		margin-top: 0;
	}
	p img,
	iframe {
		width: 100%;
	}
}
.meta-box.notes_list_meta {
	margin-bottom: 3rem;
}
.note_list__post__date {
	font-size: 0.75rem;
	a {
		&:before {
			content: "🔗";
			display: inline-block;
			font-size: 0.55rem;
			margin-right: 0.25rem;
		}
	}
}
.notes_pagination {
	padding-top: 3rem;
	margin: 0 auto;
	display: flex;
	width: 100%;
	justify-content: space-between;
	a {
		font-size: 0.85rem;
	}
}
.base--main__note {
	article {
		p img,
		iframe {
			width: 100%;
		}
		iframe {
			max-height: 50vh;
		}
	}
}
