.now {
	h2 {
		margin-top: 3rem;
	}
}
.now-reading-list {
	list-style-type: none;
	margin-left: 0;
	padding: 0;
	.book {
		display: flex;
		margin-bottom: 1rem;
		picture {
			max-width: 100px;
		}
		.book__details > * {
			text-box-trim: trim-both;
		}
	}
}
