.post__featured-image {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	margin-bottom: 1.5rem;
}
.post__subtitle {
	margin: 0;
	font-size: 0.75em;
	font-family: var(--font-family-heading);
	font-weight: 400;
}
.meta-box.book-review {
	float: right;
	max-width: 300px;
	font-size: 0.75rem;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			padding: 0.25rem 0;
		}
	}
	p {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		img {
			width: 1.5rem;
		}
	}
	span {
		font-family: var(--font-family-heading);
		text-transform: uppercase;
		font-weight: 700;
	}
}
p.affiliate-disclosure {
	font-size: 0.6rem;
	font-style: italic;
	color: lch(from var(--off-white) calc(l - 40) c h);
	margin-top: 1rem;
}
@media screen and (max-width: 570px) {
	.meta-box.book-review {
		float: unset;
		max-width: 100vw;
	}
}
